@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html, body, #__next {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.main-green{
  color: #1f8f6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#header{
    background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), 
    url('../../public/header.png');

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}

.header-layer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  text-align: center;
  margin-top: 60px;
  padding-top: 60px;
}

.main-yellow{
  color: #e6c466
}

.btn-yellow{
  background-color: #e6c466;
  transition: all 0.5s;
  @apply p-2 xl:p-4 px-3 xl:px-4 rounded-2xl text-black font-semibold hover:cursor-pointer
}
.btn-yellow:hover{
  color: white;
  background-color: #ceac47;
}

.btn-white{
  transition: all 0.5s;
  background-color: white;
  @apply p-2 xl:p-4 px-3 xl:px-4 rounded-2xl text-black font-semibold hover:cursor-pointer
}
.btn-white:hover{
  color: white;
  background-color: #707070;
}

.about-star{
  color: #314158 ;
}

.about-circle{
  width: 20px;
  height: 20px;
}


        img {
          max-width: 100%;
          height: auto;
          display: block;
        }

        .layer{
          background-color: #1f8f6a57;
          inset: 0;
          border-radius: 20px;
          transition: all;
          opacity: 0;
        }
        .layer:hover{
          opacity: 1;
        }

        .offerLayer{

          background-color: rgba(0,0,0,0.4);
          inset: 0;
          border-radius: 10px;
          transition: all 0.5s;
          opacity: 1;
          width: 100%;
        }
        .offerLayer:hover{
          background-color: rgba(0,0,0,0.0);
        }


        .followUs-layer{
          position: absolute;
          inset: 0;
          background-color: rgba(232, 232, 232, 0.765);
          border-radius: 10px;
          margin: 20px;
          /* opacity: 0; */
          transition: all 0.8s ;
        }
        

        .mui-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer{
          color: #0a0a0a ;
        }

      
        .mui-v370od-MuiButtonBase-root-MuiIconButton-root{
          color: rgba(0, 0, 0, 0.54) !important;
        }
        .mui-nc0cm-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.mui-nc0cm-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.mui-nc0cm-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
          color: #0a0a0a;
          
        }


       